
<h1 class="display-4">Login Form</h1>
<form #loginForm="ngForm" (submit)="loginUser(loginForm)">
    <div class="mb-3">
        <label>Enter Username</label>
    <input type="email" name="userName" required class="form-control" [(ngModel)]="loginModel.userName"/>
</div>
<div class="mb-3">
        <label>Enter Password</label>
    <input type="password" name="password" required class="form-control" [(ngModel)]="loginModel.password"/>
</div>
<input type="submit" value="Log In" class="btn btn-primary"/>
</form>